/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./irse/irse.css ***!
  \********************************************************************************************************/
#para10 {
  background-color: black;
  border: 2px solid black;
  padding: 10px;
  width: 2000px;
  height: 10px;
}
